body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


.navigationBar {
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.navigationBar li:not(:first-child):before {
  content: " \020 \0BB \020";
}

.navigationBar li{
  display: inline;
}

.navigationBar li:last-child {
  font-weight: bold;
}

.nodeCollection {
  width: 500px;
}


/************************************************************/
/* REPLY display */
/************************************************************/
.replyBox {
  display: flex;
  flex-direction: row;
}

.replyBox p span {
  margin-right:15px;
}

.avatar {
  border:  solid #D1CCCC 1px;
}

.replyBox .right {
  margin-left: auto;
  text-align: right;
  min-width: 40px;
}

.voteBox {
  border: solid #D1CCCC 1px;
  background-color: white;
  padding: 2px 3px 2px 3px;
  margin-left: 2px;
}

/************************************************************/
/* TOPIC display */
/************************************************************/
.topicBox {
  display: flex;
  flex-direction: row;
}

.topicBox div {
  margin-left:5px;
}

.topicBox .right {
  margin-left: auto;
  text-align: right;
  min-width: 170px;
}

.topicBox p{
  margin: 0 0 3px;
}

/************************************************************/
/* CHANNEL display */
/************************************************************/
.channelBox {
  display: flex;
  flex-direction: row;
}

.channelBox div {
  margin-left:5px;
}

.channelBox .right {
  margin-left: auto;
  text-align: right;
  min-width: 170px;
}

.channelBox p{
  margin: 0 0 3px;
}