html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

#root{
  background-color: rgb(218, 224, 230);
  min-height: 100%;
}

.app{
  font-family: 'Roboto', sans-serif;
  /*min-height: calc(100vh - 110px);*/
  padding-bottom: 20px;
}

header{
  padding: 15px 50px;
  background-color: rgb(255, 255, 255);
}

header .logo-wrap{
  height: 30px;
}

header h1.logo{
  display: inline-block;
  margin: 0;
  width: 190px;
  height: 26px;
  background-image: url('/assets/images/logo.png');
  background-size: 190px 26px;
}
header h1.logo span{ display: none }

header .current-user-info{
  float: right;
}
header .current-user-info a{
  margin-left: 5px;
}

span.meta,
div.meta{
  font-size: 14px;
  color: #666;
}


@media (min-width: 1200px) {
  .container{
    max-width: 960px;
  }
}