.create-topic-form{
  padding: 10px 15px;
  background-color: rgba(253, 253, 253, 0.6);
}

.create-topic-form button.open-btn{
  display: block;
  width: 100%;
  text-align: left;
  color: #007bff;
  font-weight: bold;
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.create-topic-form form{
  padding-top: 10px;
}

.create-topic-form span.required{
  color:red;
}
